.venv/
venv/
__pycache__/
*.pyc
.pytest_cache/
.env
data/bronze/**/*.json
data/bronze/**/*.avro
data/silver/**/*.csv
data/silver/**/*.parquet
data/gold/**/*.csv
data/lake/**/*.parquet
!data/**/.gitkeep
logs/
